.row
  .one.columns
  .eleven.columns
    %h1 Your meals
.row
  .one.columns
  .six.columns
    %table.meals
      %thead
        %tr
          %th Date
          %th Meal
          %th Food(s)
          %th Total calories
      %tbody
        - @meals.each do |meal|
          %tr
            %td= meal.meal_date
            %td= meal.name
            %td{:class => 'food_thumbnail'}= meal.foods.map {|x| image_tag(x.image.to_s, :size => '50x50') }.join(" ").html_safe
            %td= meal.total_cals
  .five.columns
    .controls
      .new
        = button_tag 'New meal', :id => 'show_form', :class => 'button success radius tiny'
      .form.hide
        = form_tag do
          = label_tag 'name'
          = text_field_tag 'name'
          = label_tag 'description'
          = text_field_tag 'description'
          = label_tag 'foods_eaten'
          = text_field_tag 'food_picker'
          = label_tag 'meal_date'
          = text_field_tag 'datepicker', nil, :dateFormat => 'yy-mm-dd', :name => 'meal_date'
          = label_tag 'meal_time'
          = text_field_tag 'meal_time'
          = hidden_field_tag 'meal_id'
          = link_to('Cancel','#', :id => 'hide_form', :class => 'button alert radius tiny')
          = submit_tag 'Add new meal', :id => 'create_meal', :class => 'button radius tiny'


#foods.reveal-modal
  %h2 Select foods eaten
  %p.lead Wassup
  - @foods.each do |food|
    = image_tag(food.image, :size => "50x50", :alt => food.id)
  %br
  = link_to("Done", "#", :id => 'done_adding_foods', :class => 'button alert radius tiny close-reveal-modal')
  %a.close-reveal-modal &#215;

