.row
  .one.columns
  .eleven.columns
    %h1 Add food

.row
  .one.columns
  .six.columns
    = form_for @food do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = f.label :calories
      = f.text_field :calories
      = f.label :image
      = f.text_field :image
      = f.submit nil, :class => 'button radius'

  .five.columns